{% extends 'base.html' %}
{% load static %}

{% block title %}Scheda Intervento{% endblock %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="container m-auto p-3">
                <a class="navbar-brand" href="#">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                    height="20"
                    alt="MDB Logo"
                    loading="lazy"
                  />
                </a>
            </div>
        </li>

        <li class="nav-item">
            <div class="container p-3">
                <h3>Misericordia Galluzzo</h3>
            </div>
        </li>
        
        <li class="nav-item">
            <div class="container-fluid">
                <ul class="navbar-nav">
                  <!-- Avatar -->
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle d-flex align-items-center"
                      href="#"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                        class="square"
                        height="50"
                        alt="Personale Image"
                        loading="lazy"
                      />
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li>
                        <a class="dropdown-item" href="{% url 'operativo' %}">Home</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'dati' %}">I miei dati</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'protocolli' %}">Protocolli</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'gestione_missioni' %}">Missioni</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'dati_mezzo' %}">Dati mezzo</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      </li>
                    </ul>
                  </li>
                </ul>
            </div>
        </li>

    </ul>
</nav>

<div class="row mt-5 m-0 bg-white">
  <div class="col-6 d-flex justify-content-end">
    <h1 class="m-3">Dettagli missione</h1>
  </div>
  <div class="col-6 d-flex justify-content-start">
    <a href="{% url 'gestione_missioni' %}" class="btn btn-primary m-4" role="button" type="submit">Torna a gestione missioni</a>
  </div>
</div>

<div class="container pt-2 ps-5 pe-5">
  <div class="p-5 m-0 bg-light">
    <div class="row">
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Missione</strong></p>
        <p class="text-muted mb-4">{{missione.id_missione}}</p>
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Scheda</strong></p>
        <p class="text-muted mb-4">{{scheda.id_scheda}}</p>
      </div>
    </div>
    

    <div class="row">
      <div class="col-12">
        <h4 class="text-uppercase mb-4 text-center"><strong>Scenario</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Dinamica riferita</strong></p>
        <p class="text-muted mb-4">{{scheda.scenario}}</p>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <h4 class="text-uppercase mb-4 text-center"><strong>Fase A - Airway</strong></h4>
      </div>
    </div>
    <div class="row">
      <!-- DA MODIFICARE TUTTO! -->
      {% if scheda.cosciente is not None %}
        {% if scheda.cosciente %}
          <div class="col-12">
            <p class="text-uppercase mb-2"><strong>Cosciente</strong></p>
            <p class="text-muted mb-4">SI</p>
          </div>
        {% else %}
          <div class="col-12">
            <p class="text-uppercase mb-2"><strong>Cosciente</strong></p>
            <p class="text-muted mb-4">NO</p>
          </div>
        {% endif %}
      {% endif %}
      {% if scheda.pervieta %}
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Pervietà vie aeree</strong></p>
          <p class="text-muted mb-4">SI</p>
        </div>
        {% else %}
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Pervietà vie aeree</strong></p>
          <p class="text-muted mb-4">NO</p>
        </div>
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Tipologia ostruzione</strong></p>
          {% if scheda.ostruzione %}
            <p class="text-muted mb-4">Ostruzione parziale</p>
          {% else %}
            <p class="text-muted mb-4">Ostruzione totale</p>
          {% endif %}
        </div>
      {% endif %}
    </div>


    <div class="row">
      <div class="col-12">
        <h4 class="text-uppercase mb-4 text-center"><strong>Fase B - Breathing</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Respira</strong></p>
        {% if scheda.respira %}
          <p class="text-muted mb-4">SI</p>
        {% else %}
          <p class="text-muted mb-4">NO</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Frequnza respiratoria</strong></p>
        {% if scheda.conto > 0 %}
          <p class="text-muted mb-4">{{scheda.conto}} atti/min</p>
        {% else %}
          <p class="text-muted mb-4">--- atti/min</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Respirazione dispneica</strong></p>
        {% if scheda.dispnea %}
          <p class="text-muted mb-4">SI</p>
        {% else %}
          <p class="text-muted mb-4">NO</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Respiro rumoroso</strong></p>
        {% if scheda.ascolto %}
          <p class="text-muted mb-4">SI</p>
        {% else %}
          <p class="text-muted mb-4">NO</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Palpazione torace</strong></p>
        <p class="text-muted mb-4">{{scheda.palpo}}</p>
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Saturazione</strong></p>
        {% if scheda.saturazione > 0 %}
          <p class="text-muted mb-4">{{scheda.saturazione}} %</p>
        {% else %}
          <p class="text-muted mb-4">--- %</p>
        {% endif %}
      </div>
      {% if scheda.saturazione_oss > 0 %}
      <div class="col-12">
        <h6 class="text-uppercase text-center mb-2"><strong>Somministrazione ossigeno</strong></h6>
        <p class="text-uppercase mb-2"><strong>Saturazione con ossigeno</strong></p>
        <p class="text-muted mb-4">{{scheda.saturazione_oss}} %</p>
        <p class="text-uppercase mb-2"><strong>Ossigeno</strong></p>
        <p class="text-muted mb-4">{{scheda.ossigeno}} L/min</p>
      </div>
      {% endif %}
    </div>


    <div class="row">
      <div class="col-12">
        <h4 class="text-uppercase mb-4 text-center"><strong>Fase C - Circulation</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Pressione arteriosa</strong></p>
        {% if scheda.pressione_massima > 0 and scheda.pressione_minima > 0 %}
          <p class="text-muted mb-4">{{scheda.pressione_massima}} / {{scheda.pressione_minima}} mmHg</p>
        {% else %}
          <p class="text-muted mb-4">--- / --- mmHg</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Frequnza circolatoria</strong></p>
        {% if scheda.frequenza > 0 %}
          <p class="text-muted mb-4">{{scheda.frequenza}} batt/min</p>
        {% else %}
          <p class="text-muted mb-4">--- batt/min</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Temperatura corporea</strong></p>
        {% if scheda.temperatura > 0 %}
          <p class="text-muted mb-4">{{scheda.temperatura}} °C</p>
        {% else %}
          <p class="text-muted mb-4">--- °C</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Emorragie</strong></p>
        {% if scheda.emorragie %}
          <p class="text-muted mb-4">SI</p>
        {% else %}
          <p class="text-muted mb-4">NO</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Polso radiale</strong></p>
        {% if scheda.polso %}
          <p class="text-muted mb-4">SI</p>
        {% else %}
          <p class="text-muted mb-4">NO</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Polso regolare</strong></p>
        {% if scheda.polso_regolare %}
          <p class="text-muted mb-4">SI</p>
        {% else %}
          <p class="text-muted mb-4">NO</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Colorito cutaneo</strong></p>
        <p class="text-muted mb-4">{{scheda.cute}}</p>
      </div>
      {% if scheda.sudato %}
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Sudato</strong></p>
          <p class="text-muted mb-4">SI</p>
        </div>
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Tipologia sudorazione</strong></p>
          {% if scheda.sudato_freddo %}
            <p class="text-muted mb-4">Fredda</p>
          {% else %}
            <p class="text-muted mb-4">Calda</p>
          {% endif %}
        </div>
        {% else %}
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Sudato</strong></p>
          <p class="text-muted mb-4">NO</p>
        </div>
      {% endif %}
      {% if scheda.dolore_toracico %}
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Dolore toracico</strong></p>
          <p class="text-muted mb-4">SI</p>
        </div>
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Data insorgenza sintomi</strong></p>
          <p class="text-muted mb-4">{{scheda.data_dolore}}</p>
        </div>
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Ora insorgenza sintomi</strong></p>
          <p class="text-muted mb-4">{{scheda.ora_dolore}}</p>
        </div>
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Tipologia dolore</strong></p>
          {% if scheda.tipo_dolore %}
            <p class="text-muted mb-4">Dolore a spilli</p>
          {% else %}
            <p class="text-muted mb-4">Dolore oppressivo</p>
          {% endif %}
        </div>
        {% else %}
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Dolore toracico</strong></p>
          <p class="text-muted mb-4">NO</p>
        </div>
      {% endif %}
    </div>


    <div class="row">
      <div class="col-12">
        <h4 class="text-uppercase mb-4 text-center"><strong>Fase D - Disability</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Valutazione neurologica</strong></p>
        <p class="text-muted mb-4">{{scheda.avpu}}</p>
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Orientato nel tempo</strong></p>
        {% if scheda.tempo %}
          <p class="text-muted mb-4">SI</p>
        {% else %}
          <p class="text-muted mb-4">NO</p>
        {% endif %}
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Orientato nello spazio</strong></p>
        {% if scheda.spazio %}
          <p class="text-muted mb-4">SI</p>
        {% else %}
          <p class="text-muted mb-4">NO</p>
        {% endif %}
      </div>
      {% if scheda.mimica_c is not None or scheda.braccia_c is not None or scheda.linguaggio_c is not None %}
        <div class="col-12">
          <h6 class="text-uppercase text-center mb-2"><strong>Cincinnaty</strong></h6>
          {% if scheda.mimica_c is not None %}
          <p class="text-uppercase mb-2"><strong>Mimica facciale</strong></p>
          <p class="text-muted mb-4">{{scheda.mimica_c}}</p>
          {% endif %}
          {% if scheda.braccia_c is not None %}
          <p class="text-uppercase mb-2"><strong>Movimento delle braccia</strong></p>
          <p class="text-muted mb-4">{{scheda.braccia_c}}</p>
          {% endif %}
          {% if scheda.linguaggio_c is not None %}
          <p class="text-uppercase mb-2"><strong>Linguaggio</strong></p>
          {% if scheda.linguaggio_c %}
            <p class="text-muted mb-4">Normale</p>
          {% else %}
            <p class="text-muted mb-4">Anormale</p>
          {% endif %}
          {% endif %}
        </div>
      {% endif %}
      {% if scheda.forza_sup is not None or scheda.forza_inf is not None or scheda.sens_sup is not None or scheda.sens_inf is not None %}
        <div class="col-12">
          <h6 class="text-uppercase text-center mb-2"><strong>Cincinnaty</strong></h6>
          {% if scheda.forza_sup is not None %}
          <p class="text-uppercase mb-2"><strong>Forza sugli arti superiori</strong></p>
          <p class="text-muted mb-4">{{scheda.forza_sup}}</p>
          {% endif %}
          {% if scheda.forza_inf is not None %}
          <p class="text-uppercase mb-2"><strong>Forza sugli arti inferiori</strong></p>
          <p class="text-muted mb-4">{{scheda.forza_inf}}</p>
          {% endif %}
          {% if scheda.sens_sup is not None %}
          <p class="text-uppercase mb-2"><strong>Sensibilità sugli arti superiori</strong></p>
          <p class="text-muted mb-4">{{scheda.sens_sup}}</p>
          {% endif %}
          {% if scheda.sens_inf is not None %}
          <p class="text-uppercase mb-2"><strong>Sensibilità sugli arti inferiori</strong></p>
          <p class="text-muted mb-4">{{scheda.sens_inf}}</p>
          {% endif %}
        </div>
      {% endif %}
    </div>


    <div class="row">
      <div class="col-12">
        <h4 class="text-uppercase mb-4 text-center"><strong>Fase E - Exposure</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Posizione all'arrivo</strong></p>
        <p class="text-muted mb-4">{{scheda.posizione}}</p>
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Allergie riferite</strong></p>
        <p class="text-muted mb-4">{{scheda.allergie}}</p>
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Patologie riferite</strong></p>
        <p class="text-muted mb-4">{{scheda.patologie}}</p>
      </div>
      {% if scheda.glicemia > 0 %}
        <div class="col-12">
          <p class="text-uppercase mb-2"><strong>Glicemia riferita</strong></p>
          <p class="text-muted mb-4">{{scheda.glicemia}}</p>
        </div>
      {% endif %}
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Riferita assunzione di farmaci</strong></p>
        <p class="text-muted mb-4">{{scheda.farmaci}}</p>
      </div>
      <div class="col-12">
        <p class="text-uppercase mb-2"><strong>Ultimo pasto riferito</strong></p>
        <p class="text-muted mb-4">{{scheda.pasto}}</p>
      </div>
      <!-- IMPLEMENTA TESTA-PIEDI -->
    </div>


    <div class="row">
      <div class="col-12">
        <h4 class="text-uppercase mb-4 text-center"><strong>Note aggiuntive</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-muted mb-4">{{scheda.note}}</p>
      </div>
    </div>


    <!-- IMPLEMENTA ESITO -->
    
  </div>
</div>

{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}