{% extends 'base.html' %}
{% load static %}

{% block title %}Scheda Intervento{% endblock %}

{% block css %}
<link href="{% static 'css/gestione_mezzi.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img
                    src="{% static 'img/logoHCI.png' %}"
                    height="50"
                    loading="lazy"
                  />
                </a>
            </div>
        </li>

        <li class="nav-item">
            <div class="container ms-0 p-3">
                <h3>{{request.user.corporation}}</h3>
            </div>
        </li>
    </ul>
    <a href="{% url 'logout' %}" class="btn btn-primary m-4" style="position: absolute; right: 0; top: 0;">Log out</a>
</nav>

<div class="container-sm p-3 rounded bg-white text-center d-flex flex-column">
    <div class="container mt-5 text-center bg-white">
        <h1 class="m-3">Gestione mezzi</h1>
    </div>

    <div class="container pt-2 ps-5 pe-5 mb-auto bg-white" style="height: 70vh; overflow: auto;">
        {% if messages %}
        <ul class="alert alert-success text-center" style="list-style: none;">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="table-wrapper-scroll-y my-custom-scrollbar p-5 m-0 bg-light"> 
            <table class="table-responsive w-100 text-center">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipologia</th>
                    <th scope="col">Fissa</th>
                    <th scope="col">Elimina</th>
                </tr>
                </thead>
                <tbody>
                    {% for m in mezzi %}
                        <tr>
                            <td scope="row">{{ m.nome }}</td>
                            <td>{{ m.tipologia }}</td>
                            <td>{{ m.all_day }}</td>
                            <td>
                                <input type="radio" class="btn btn-check btn-sm px-3" id="{{m.id_mezzo}}" name="id_mezzo" value="{{ m.id_mezzo }}">
                                <label class="btn btn-info" for="{{m.id_mezzo}}">x</label>
                            </td>
                        </tr>
                    {% endfor %}            
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container p-5 mt-auto mb-5 me-5 text-center bg-white position-absolute bottom-0 end-0">
    <div class="row">
        <div class="col d-flex justify-content-end">
            <a href="{% url 'home_sc' %}" role="button" class="btn p-3 btn-secondary m-2 btn-lg">
                Torna a selezione mezzo 
            </a>
            <button type="button" class="btn p-3 btn-primary btn-lg m-2" data-mdb-toggle="modal" data-mdb-target="#nuovomezzo" id="modalbutton">
                Nuovo Mezzo
            </button>
        </div>
    </div>
</div>

<!-- Creazione mezzo -->
<div class="modal fade" id="nuovomezzo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuovo Mezzo</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form class="text-center" id="creazione_mezzo_form" method="post"> <!--action="{% url 'registration_user' %}"-->
                    {% csrf_token %}
                    <p class="slogan">Inserisci i dati del nuovo mezzo:</p>
                
                    <div class='text-center'>
                        <ul class="alert alert-danger" id='errors' style="list-style: none;" hidden>
                            
                        </ul>
                    </div>

                    <!-- Dati mezzo -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="nome" class="form-control" name="nome">
                                <label class="form-label" for="nome">Nome del mezzo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6 d-flex align-items-end">
                            <div class="form-outline">
                                <label class="form-label" for="equip_min">Numero Minimo Equipaggio</label>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="def-number-input number-input">
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                <input class="quantity form-control" min="0" value="3" type="number" id="equip_min" name="equip_min">
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6 d-flex align-items-end">
                            <div class="form-outline">
                                <label class="form-label" for="num_mezzo">Numero Mezzo</label>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <div class="def-number-input number-input">
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                <input class="quantity form-control" min="0" value="0" type="number" id="num_mezzo" name="num_mezzo">
                                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                            </div>
                        </div>
                    </div>

                    <!-- Tipologia mezzi -->
                    <select id="mezzi" class="selectpicker w-75 mb-4" data-live-search="true" title="Seleziona tipologia mezzo" name="tipologia" value="">
                        <option value="INDIA">INDIA</option>
                        <option value="BLSD">BLSD</option>
                        <option value="BLS">BLS</option>
                        <option value="Ordinaria">Ordinaria</option>
                    </select>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="all_day" name="all_day">
                        <label class="custom-control-label" for="all_day"> Mezzo attivo H24</label>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary w-25" data-mdb-dismiss="modal">Annulla</button>
                        <button type="submit" id="invio_post" class="btn btn-primary" style="width: 180px;">Aggiungi mezzo</button>
                    </div>
                    
                </form>
            
        </div>
    </div>
</div>

<!-- Cancellazione bottone -->
<div class="modal fade" id="mezzo_canc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Elimina mezzo</h5>
            </div>
            <div class="modal-body text-center">
                <h5 class="modal-title" id="exampleModalLabel">Vuoi veramente eliminare il mezzo?</h5>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary w-25" data-mdb-dismiss="modal">NO</button>
            <button type="button" id="cancella_mezzo" class="btn btn-primary w-25">SI</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    var token = '{{ csrf_token }}';
    var id; 

    $('input[name="id_mezzo"]').click(function () {
        id = $(this).val();
        $('#mezzo_canc').modal('show');
    });

    $('#invio_post').click(function (e) {
        e.preventDefault();
        formData = $('#creazione_mezzo_form').serialize();
            $.ajax({
                headers: {
                    "X-CSRFToken": token,
                },
                url: '{% url "crea_mezzo" %}',
                dataType: 'json', 
                type: 'POST',
                data: formData,
                success: function (result) {
                    if(result['status']=='error'){
                        $('#errors').empty();
                        errors = result['errors']
                        for(const item in errors)
                        {
                            $('#errors').removeAttr('hidden');
                            $("#errors").prepend('<p><strong>'+errors[item]+'</strong></p>');
                        }
                }
                else{
                    window.location = '{% url "gestione_mezzi" %}'
                }
                },
            });
      });

      $('#cancella_mezzo').click(function (e) {
        e.preventDefault();
            $.ajax({
                headers: {
                    "X-CSRFToken": token,
                },
                url: '{% url "delete_mezzo" %}',
                dataType: 'json', 
                type: 'POST',
                data: {'id_mezzo': id},
                success: function (result) {
                    window.location = '{% url "gestione_mezzi" %}'
                },
            });
      });
});
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

{% endblock %}

