{% extends 'base.html' %}
{% load static %}

{% block title %}Scheda Intervento{% endblock %}

{% block css %}
<link href="{% static 'css/gestione_mezzi.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="d-flex flex-column" style="height: 100vh">

    <div class="container p-5 mt-5 text-center bg-white">
        <h1 class="m-3">Benvenuta</h1>
        <h4 class="mb-3">{{ request.user.corporation }}</h4>  

        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

    </div>

    <div class="container mb-auto text-center bg-white" style="height: 50vh; overflow: auto;">
        <div class="table-wrapper-scroll-y my-custom-scrollbar"> 
            <table class="table-responsive w-100 align-middle">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Tipologia</th>
                    <th scope="col">Fissa</th>
                    <th scope="col">Elimina</th>
                </tr>
                </thead>
                <tbody>
                    {% for m in mezzi %}
                        <tr>
                            <th scope="row">{{ m.nome }}</th>
                            <td>{{ m.tipologia }}</td>
                            <td>{{ m.all_day }}</td>
                            <td>
                            <form action="{% url 'delete_mezzo' m.id_mezzo %}" method='post'>
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger btn-sm px-3 fas fa-times" value='x' onclick='return confirm("Vuoi veramente eliminare il mezzo?");'>
                            </form> 
                            </td>
                        </tr>
                    {% endfor %}            
                </tbody>
            </table>
        </div>
    </div>

    <div class="container p-5 mt-auto mb-5 text-center bg-white">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-2">
            </div>
            <div class="col-6">
                <a href="{% url 'home_sc' %}" role="button" class="btn p-3 btn-primary btn-lg">
                    Home 
                </a>
                <button type="button" class="btn p-3 btn-primary btn-lg" data-mdb-toggle="modal" data-mdb-target="#nuovomezzo" id="modalbutton">
                    Nuovo Mezzo
                </button>
            </div>
        </div>
    </div>

    
    
    <div class="modal fade" id="nuovomezzo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuovo Mezzo</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <form class="text-center" method="post" action="{% url 'crea_mezzo' %}"> <!--action="{% url 'registration_user' %}"-->
                        {% csrf_token %}
                        <p class="slogan">Inserisci i dati del nuovo mezzo:</p>
                    
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Dati mezzo -->
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" id="nome" class="form-control" name="nome">
                                    <label class="form-label" for="nome">Nome del mezzo</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-6 d-flex align-items-end">
                                <div class="form-outline">
                                    <label class="form-label" for="equip_min">Numero Minimo Equipaggio</label>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <div class="def-number-input number-input">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                    <input class="quantity form-control" min="0" value="3" type="number" id="equip_min" name="equip_min">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-6 d-flex align-items-end">
                                <div class="form-outline">
                                    <label class="form-label" for="num_mezzo">Numero Mezzo</label>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <div class="def-number-input number-input">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                                    <input class="quantity form-control" min="0" value="0" type="number" id="num_mezzo" name="num_mezzo">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                </div>
                            </div>
                        </div>

                        <!-- Tipologia mezzi -->
                        <select id="mezzi" class="selectpicker w-75 mb-4" data-live-search="true" title="Seleziona tipologia mezzo" name="tipologia" value="">
                            <option value="INDIA">INDIA</option>
                            <option value="BLSD">BLSD</option>
                            <option value="BLS">BLS</option>
                            <option value="Ordinaria">Ordinaria</option>
                        </select>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="all_day" name="all_day">
                            <label class="custom-control-label" for="all_day"> Mezzo attivo H24</label>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Annulla</button>
                            <input type="submit" class="btn btn-primary" value="Aggiungi Mezzo">
                        </div>
                        
                    </form>
                
            </div>
        </div>
    </div>


    

</div>

{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}