{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <button class="btn btn-info m-3" style="position: absolute; right: 0; top: 0;">Questionario</button>
  <!-- Contenuto principale -->
  <div class="container w-30 rounded" style="width: 550px; margin-top: 15vh;">
    <div class="row">
      <div class="col-sm-12 text-center p-3">
        <img src="{% static 'img/logoHCI.png' %}" class="rounded" alt="Covid" style="height: 30vh">    
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center p-3">
        <p class="display-3"><strong>Mattoni 2.0</strong></p>    
        <h4 class="text-gray">Scheda di intervento locale in emergenza</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center mb-2">
        <a href="{% url 'loginpage' %}" class="btn btn-primary btn-lg w-50" role="button">Log In</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center mb-2">
        <a href="{% url 'registration_user' %}" class="btn btn-secondary btn-lg w-50" role="button">Registrati</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="page-footer font-small w-100 pt-4" style="position: fixed; bottom: 0px;">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-12 mt-md-0 mt-3">
        <!-- GitHub -->
        <a role="button" class="font-weight-bold btn btn-info" onclick="github()">GitHub <i class="fab fa-github"></i> </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    <p>© 2022 Copyright: <strong>Lisa Cresti & Lorenzo Caselli</strong></p>
  </div>
</footer>
{% endblock %}

{% block scripts %}
<script>
  function github () {
    window.open('https://github.com/LisaUnifi/HCI_project').focus();
  };
</script>
{% endblock %}

