{% extends 'base.html' %}
{% load static %}

{% block title %}Pagina associazione{% endblock %}

{% block css %}
<link href="{% static 'css/home_sc.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<nav class="navbar navbar-light d-flex justify-content-start">
    <a class="navbar-brand ms-3 m-1">
        <img
        src="{% static 'img/logoHCI.png' %}"
        height="50"
        loading="lazy"
        />
    </a>
    <div class="ms-0 p-3">
        <h3 class="mb-1 mt-1"><strong>{{request.user.corporation}}</strong></h3>
    </div>

    <a href="{% url 'logout' %}" class="btn btn-primary m-4" style="position: absolute; right: 0; top: 0;">Log out</a>
</nav>

<div class="container-sm p-3 rounded bg-white text-center d-flex flex-column">
    <div class="container mt-5 text-center bg-white">
        <h1 class="m-3">Seleziona mezzo</h1>
    </div>
    
    <form action="{% url 'mezzo_scelto' %}" method="get">
        <div class="container pt-2 ps-5 pe-5 mb-auto bg-white" style="overflow: auto;">
            {% if messages %}
            <ul class="alert alert-danger text-center" style="list-style: none;">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="container-sm p-3 rounded text-center bg-light" >
                {% if mezzi %}
                    <p class="slogan mb-0">Mezzi associativi attivi H24</p>
                    {% for m in mezzi %}
                        {% if m.all_day %}
                            <div class="row">
                                <div class="col m-2">
                                    <input type="radio" class="btn-check btn-lg float-start" name="mezzoscelto" id="{{ m.nome }}" value="{{ m.id_mezzo }}" autocomplete="off">
                                    <label class="btn btn-primary btn-lg w-50" for="{{ m.nome }}">{{ m.nome }}</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %} 
                    <p class="slogan mb-0">Mezzi associativi estemporanei</p>
                    {% for m in mezzitemp %}
                        <div class="row">
                            <div class="col m-2">
                                <input type="radio" class="btn-check btn-lg float-start" name="mezzoscelto" id="{{ m.nome }}" value="{{ m.id_mezzo }}" autocomplete="off">
                                <label class="btn btn-secondary btn-lg w-50" for="{{ m.nome }}">{{ m.nome }}</label>
                            </div>
                        </div>   
                        
                    {% endfor %} 
                {% else %}  
                    <p class="slogan mb-0">Non sono ancora presenti mezzi associativi.</p>
                    <p class="slogan mb-0">Per crearne di nuovi vai in <a href="{% url 'gestione_mezzi' %}" class="text-decoration-none" style="color: var(--bs-info);"><strong>GESTIONE MEZZI</strong></a></p>
                {% endif %} 
            </div>
                            
            <div class="container p-5 mt-auto mb-5 me-5 text-center bg-white position-absolute bottom-0 end-0">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <a href="{% url 'gestione_mezzi' %}" role="button" class="btn p-3 btn-secondary m-2 btn-lg" type="submit" style="width: 200px;">
                            Gestione mezzi
                        </a>
                        <input type="submit" class="btn p-3 btn-primary btn-lg m-2" value='Avanti' style="width: 200px;">
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('input[name="mezzoscelto"]').click(function () {
        $('input[name="mezzoscelto"]').prop('checked', false);
        $(this).prop('checked', true);
    });
});
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}