{% extends 'base.html' %}
{% load static %}

{% block title %}Pagina Operatore Centrale 118{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  
    <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <div class="container p-3">
                <a class="navbar-brand" href="#">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                    height="20"
                    alt="MDB Logo"
                    loading="lazy"
                  />
                </a>
            </div>
        </li>
        
        <li class="nav-item pull-right">
            <div class="container-fluid">
                <ul class="navbar-nav">
                  <!-- Avatar -->
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle d-flex align-items-center"
                      href="#"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                        class="square"
                        height="50"
                        alt="Personale Image"
                        loading="lazy"
                      />
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li>
                        <a class="dropdown-item" href="#">I miei dati</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="/logout">Logout</a>
                      </li>
                    </ul>
                  </li>
                </ul>
            </div>
        </li>

    </ul>
</nav>

<!-- Bottone per Modal -->
<button type="button" class="btn btn-primary pull-right" data-mdb-toggle="modal" data-mdb-target="#formmissione">
  Nuova Missione 
</button>

<!-- Modal -->
<div class="modal fade" id="formmissione" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Dati Missione</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p class="slogan">Inserisci i dati del paziente</p>
          <form>

            <!-- Nome e Cognome -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">Nome</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">Cognome</label>
                </div>
              </div>
            </div>

            <!-- Indirizzo -->
            <div class="row mb-4">
              <div class="col-9">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">Indirizzo</label>
                </div>
              </div>
              <div class="col-3">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">Civico</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">Comune</label>
                </div>
              </div>
              <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Prov.</option>
                  <option value="1">AR</option>
                  <option value="2">FI</option>
                  <option value="3">GR</option>
                  <option value="4">LI</option>
                  <option value="5">LU</option>
                  <option value="6">MS</option>
                  <option value="7">PI</option>
                  <option value="8">PT</option>
                  <option value="9">PO</option>
                  <option value="10">SI</option>
                </select>
              </div>
              <div class="col-3">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">CAP</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                  <label class="form-check-label" for="inlineCheckbox1">Indirizzo uguale ad indirizzo di residenza</label>
                </div>
              </div>
            </div>

            <!-- Numero Telefono -->
            <div class="form-outline mb-4">
              <input type="tel" id="typePhone" class="form-control" />
              <label class="form-label" for="typePhone">Cellulare</label>
            </div>

            <!-- Note missione: -->
            <p class="slogan">Note missione</p>
            <div class="form-outline mb-4">
              <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
              <label class="form-label" for="textAreaExample">Messaggio</label>
            </div>

            <!-- Note della Centrale -->
            <p class="slogan">Avvisi dalla Centrale</p>
            <div class="form-outline mb-4">
              <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
              <label class="form-label" for="textAreaExample">Messaggio</label>
            </div>

            <!-- Codice patologia -->
            <p class="slogan">Codice patologia ipotizzato</p>
            <div class="row mb-4">
              <div class="col-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1" class="form-control" />
                  <label class="form-label" for="form3Example1">Luogo</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">Patologia</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-outline">
                  <input type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">Criticità</label>
                </div>
              </div>
            </div>

            <!-- Attivazione mezzi -->
            <select id="mezzi" class="selectpicker" multiple data-live-search="true" title="Seleziona mezzi">
              <option value="1">Alfa</option>
              <option value="2">Delta</option>
              <option value="3">India</option>
              <option value="4">Mike</option>
              <option value="5">Pegaso</option>
            </select>
              
          </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-primary">Invia Missione</button>
        </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<!-- funzioni -->
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}


