{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<!-- Background image -->
<div class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp'); height: 100vh;">
    <!-- Container form -->
    <div class="container-sm p-3 w-30 rounded bg-white text-center" style="width: 550px">
        <img src="{% static 'img/hciLogo.png' %}" class="logo p-3 img-fluid" />
        <p class="slogan">Accedi con le tue credenziali</p>
        <form id="login-form" method="get" action="{% url 'access' %}">
            {% csrf_token %}
            {% if errors %}
                <ul class="alert alert-danger" style="list-style: none;">
                  <li>Lo username e/o la password non sono corretti.</li>
                  <li>Per favore riprova!</li>
              </ul>
            {% endif %}
            <!-- Username -->
            <div class="form-outline mb-4">
              <input type="text" id="id_username" name="username" class="form-control" />
              <label class="form-label" for="id_username">Username</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input id="id_password" name="password" type="password" class="form-control"/>
              <label class="form-label" for="id_password">Password</label>
            </div>
          
          
            <!-- Submit button -->
            <div class="row">
                <div class="col-sm-12 text-center p-1">
                    <input type="submit" value="Accedi" class="btn btn-primary w-75" />
                </div>
            </div>            


            <!-- Register buttons -->
            <div class="text-center">
              <p>Non sei ancora registrato? <a href="{% url 'registration_user' %}">Registrati</a></p>
            </div>
          </form>
      
    </div>
  </div>



{% endblock %}

