{% extends 'base.html' %}
{% load static %}

{% block title %}Scheda Intervento{% endblock %}

{% block content %}

<div class="d-flex flex-column" style="height: 100vh">

    <div class="container text-center bg-light mt-4">
        <div class="row m-4">
            <div class="col-4">
                <p class="text-uppercase mb-2"><strong>ID MISSIONE</strong></p>
            </div>
            <div class="col-4">
                <p class="text-uppercase mb-2"><strong>K C01 R</strong></p>
            </div>
            <div class="col-4">
                <a href="{% url 'home_sc' %}" role="button" class="btn p-3 btn-primary btn-lg ">
                    MODIFICA 
                </a>
            </div>
        </div>
        <div class="row m-4 mb-0">
            <div class="col-12">
                <p class="text-muted mb-4">Luogo di intervento</p>
            </div>
        </div>

    </div>

<form id="compilazione_scheda" method="post">
    {% csrf_token %}
    <div class="container mt-1 mb-auto p-0 bg-white">
       
        <div class="row">
            <div class="col-sm-3">
                <nav class="nav nav-pills flex-column fixed-left nav-fill" style="height: 70vh">
                    <a class="nav-link d-flex align-items-center justify-content-center active" href="#scenario">Scenario</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#A">A</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#B">B</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#C">C</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#D">D</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#E">E</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#note_menu">Note</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#esito_menu">Esito</a>
                </nav>
            </div>
          
            <div class="col-sm-9">
                
              <div data-spy="scroll" class="scrollspy-example z-depth-1 mt-4" data-target="#navbar-example3"
              data-offset="0" style="height: 70vh; overflow: auto;">
                <h1 id="scenario" class="text-center border-bottom border-top">Scenario all'arrivo</h1>
                <h6>Dinamica riferita:</h6>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="scenario" value="Soccorso a persona" checked>
                    <label class="custom-control-label" for="defaultGroupExample1" >Soccorso a persona</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="scenario" value="Trauma">
                    <label class="custom-control-label" for="defaultGroupExample2">Trauma</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="scenario"  value="Trauma maggiore" data-toggle="modal" data-target="#centrale">
                    <label class="custom-control-label" for="defaultGroupExample3">Trauma maggiore</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="scenario" value="Non definita">
                    <label class="custom-control-label" for="defaultGroupExample4">Non definita</label>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="centrale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-flex justify-content-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <h5 class="modal-title" id="exampleModalLabel">Avverto la centrale?</h5>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">NO</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">SI</button>
                            </div>
                        </div>
                    </div>
                </div>


                <h1 id="A" class="text-center mt-4 border-bottom border-top">A - Airway</h1>
                <div class="row p-1 ">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Cosciente?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="cosciente_si" name="cosciente" value="True" autocomplete="off">
                            <label class="btn btn-light" for="cosciente_si">SI</label>
                            <input type="radio" class="btn-check" id="cosciente_no" name="cosciente" value="False" autocomplete="off">
                            <label class="btn btn-light" for="cosciente_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Vie aeree pervie?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="pervieta_si" name="pervieta" value="True">
                            <label class="btn btn-light" for="pervieta_si">SI</label>
                            <input type="radio" class="btn-check" id="pervieta_no" name="pervieta" value="False">
                            <label class="btn btn-light" for="pervieta_no">NO</label>
                        </div>
                    </div>
                </div>
                <!-- Elemento nascosto -->
                <div class="collapse" id="ostruzione">
                    <div class="row mt-2 m-0 p-0">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="ostruzione_si" name="ostruzione" value="True" autocomplete="off">
                            <label class="btn btn-light" for="ostruzione_si">Ostruzione parziale</label>
                            <input type="radio" class="btn-check" id="ostruzione_no" name="ostruzione" value="False" autocomplete="off">
                            <label class="btn btn-light" for="ostruzione_no">Ostruzione totale</label>
                        </div>
                    </div>
                </div>

                <h1 id="B" class="text-center mt-4 border-bottom border-top">B - Breathing</h1>
                <div class="row p-1 mb-2">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Respira?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="respira_si" name="respira" value="True" autocomplete="off">
                            <label class="btn btn-light" for="respira_si">SI</label>
                            <input type="radio" class="btn-check" id="respira_no" name="respira" value="False" autocomplete="off">
                            <label class="btn btn-light" for="respira_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1 mb-2">
                    <div class="col-5 col-md-7 col-lg-8 d-flex justify-content-start align-items-end">
                        <h6>Frequenza respiratoria:</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-end align-items-end">
                        <h6>atti/min</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2 d-flex flex-fill">
                        <input type="number" class="form-control" id="conto" name="conto">
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Respirazione dispneica?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="dispnea_si" name="dispnea" value="True" autocomplete="off">
                            <label class="btn btn-light" for="dispnea_si">SI</label>
                            <input type="radio" class="btn-check" id="dispnea_no" name="dispnea" value="False" autocomplete="off">
                            <label class="btn btn-light" for="dispnea_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Respiro rumoroso?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="ascolto_si" name="ascolto" value="True" autocomplete="off">
                            <label class="btn btn-light" for="ascolto_si">SI</label>
                            <input type="radio" class="btn-check" id="ascolto_no" name="ascolto" value="False" autocomplete="off">
                            <label class="btn btn-light" for="ascolto_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <select id="mezzi" class="selectpicker w-100 mb-2" name="palpo" title="Palpazione torace:">
                        <option value="Normale">Normale</option>
                        <option value="Anor.dx">Anormale a destra</option>
                        <option value="Anor.sx">Anormale a sinistra</option>
                        <option value="Anor.dx/sx">Anormale da entrambi i lati</option>
                    </select>
                </div>
                <div class="row p-1 mb-2">
                    <div class="col-5 col-md-7 col-lg-8 d-flex justify-content-start align-items-end">
                        <h6>Saturazione in aria:</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-end align-items-end">
                        <h6>%</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2 d-flex flex-fill">
                        <input type="number" class="form-control" id="saturazione" name="saturazione">
                    </div>
                </div>

                <div class="container text-center bg-light border mb-2 w-100">
                    <h6 class="mt-2">Somministrazione ossigeno:</h6>
                    <div class="row p-1 mb-2">
                        <div class="col-5 col-md-7 col-lg-8 d-flex justify-content-start align-items-end">
                            <h6>Saturazione con ossigeno:</h6>
                        </div>
                        <div class="col-2 d-flex justify-content-end align-items-end">
                            <h6>%</h6>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 d-flex flex-fill">
                            <input type="number" class="form-control" id="saturazione_oss" name="saturazione_oss">
                        </div>
                    </div>
                    <div class="row p-1 mb-2">
                        <div class="col-5 col-md-7 col-lg-8 d-flex justify-content-start align-items-end">
                            <h6>Ossigeno:</h6>
                        </div>
                        <div class="col-2 d-flex justify-content-end align-items-end">
                            <h6>L/min</h6>
                        </div>
                        <div class="col-5 col-md-3 col-lg-2 d-flex flex-fill">
                            <input type="number" class="form-control" id="ossigeno" name="ossigeno">
                        </div>
                    </div>
                </div>
                

                <h1 id="C" class="text-center mt-4 border-bottom border-top">C - Circulation</h1>
                <div class="row p-1 mb-2">
                    <div class="col-5 col-md-5 col-lg-5 d-flex justify-content-start align-items-end">
                        <h6>Pressione arteriosa:</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-end align-items-end">
                        <h6>mmHg</h6>
                    </div>
                    <div class="col-2 col-md-2 col-lg-2 d-flex flex-fill">
                        <input type="number" class="form-control" id="pressione_massima" name="pressione_massima">
                    </div>
                    <div class="col-1 d-flex justify-content-middle align-items-end">
                        <h6>/</h6>
                    </div>
                    <div class="col-2 col-md-2 col-lg-2 d-flex flex-fill">
                        <input type="number" class="form-control" id="pressione_minima" name="pressione_minima">
                    </div>
                </div>
                <div class="row p-1 mb-2">
                    <div class="col-5 col-md-7 col-lg-8 d-flex justify-content-start align-items-end">
                        <h6>Frequenza circolatoria:</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-end align-items-end">
                        <h6>batt/min</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2 d-flex flex-fill">
                        <input type="number" class="form-control" id="frequenza" name="frequenza">
                    </div>
                </div>
                <div class="row p-1 mb-2">
                    <div class="col-5 col-md-7 col-lg-8 d-flex justify-content-start align-items-end">
                        <h6>Temperatura corporea:</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-end align-items-end">
                        <h6>°C</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2 d-flex flex-fill">
                        <input type="number" class="form-control" id="temperatura" name="temperatura">
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Emorragie?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="emorragie_si" name="emorragie" value="True" autocomplete="off">
                            <label class="btn btn-light" for="emorragie_si">SI</label>
                            <input type="radio" class="btn-check" id="emorragie_no" name="emorragie" value="False" autocomplete="off">
                            <label class="btn btn-light" for="emorragie_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Polso radiale?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="polso_si" name="polso" value="True" autocomplete="off">
                            <label class="btn btn-light" for="polso_si">SI</label>
                            <input type="radio" class="btn-check" id="polso_no" name="polso" value="False" autocomplete="off">
                            <label class="btn btn-light" for="polso_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Regolare?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="regolare_polso_si" name="regolare_polso" value="True" autocomplete="off">
                            <label class="btn btn-light" for="regolare_polso_si">SI</label>
                            <input type="radio" class="btn-check" id="regolare_polso_no" name="regolare_polso" value="False" autocomplete="off">
                            <label class="btn btn-light" for="regolare_polso_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <select id="mezzi" class="selectpicker w-100 mb-2" name="cute" title="Colorito cutaneo:">
                        <option value="Normale">Normale</option>
                        <option value="Cianotico">Cianotico</option>
                        <option value="Rossastro">Rossastro</option>
                        <option value="Pallido">Pallido</option>
                    </select>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Sudato?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="sudato_si" name="sudato" value="True" autocomplete="off">
                            <label class="btn btn-light" for="sudato_si">SI</label>
                            <input type="radio" class="btn-check" id="sudato_no" name="sudato" value="False" autocomplete="off">
                            <label class="btn btn-light" for="sudato_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Dolore toracico?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="dolore_toracico_si" name="dolore_toracico" value="True">
                            <label class="btn btn-light" for="dolore_toracico_si">SI</label>
                            <input type="radio" class="btn-check" id="dolore_toracico_no" name="dolore_toracico" value="False">
                            <label class="btn btn-light" for="dolore_toracico_no">NO</label>
                        </div>
                    </div>
                </div>
                <!-- Elemento nascosto -->
                <div class="collapse" id="torace">
                    <div class="container text-center bg-light border mb-2 w-100">
                        <div class="row p-1 mt-2">
                            <div class="col-7 d-flex align-items-end">
                                <h6>Data insorgenza sintomi:</h6>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <div class="md-form md-outline input-with-post-icon datepicker">
                                    <input placeholder="Seleziona giorno" type="date" id="data_dolore" name="data_dolore" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row p-1 ">
                            <div class="col-7 d-flex align-items-end">
                                <h6>Ora insorgenza sintomi:</h6>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <div class="md-form md-outline" >
                                    <input type="time" class="form-control" id="ora_dolore" name="ora_dolore" placeholder="Seleziona ora">
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 mb-2">
                            <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                                <input type="radio" class="btn-check" id="tipo_dolore_si" name="tipo_dolore" value="True" autocomplete="off">
                                <label class="btn btn-light" for="tipo_dolore_si">Dolore a spilli</label>
                                <input type="radio" class="btn-check" id="tipo_dolore_no" name="tipo_dolore" value="False" autocomplete="off">
                                <label class="btn btn-light" for="tipo_dolore_no">Dolore oppressivo</label>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 id="D" class="text-center mt-4 border-bottom border-top">D - Disability</h1>
                <div class="row p-1">
                    <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                        <input type="radio" class="btn-check" id="avpu_a" name="avpu" value="A" autocomplete="off">
                        <label class="btn btn-light" for="avpu_a">A</label>
                        <input type="radio" class="btn-check" id="avpu_v" name="avpu" value="V" autocomplete="off">
                        <label class="btn btn-light" for="avpu_v">V</label>
                        <input type="radio" class="btn-check" id="avpu_p" name="avpu" value="P" autocomplete="off">
                        <label class="btn btn-light" for="avpu_p">P</label>
                        <input type="radio" class="btn-check" id="avpu_u" name="avpu" value="U" autocomplete="off">
                        <label class="btn btn-light" for="avpu_u">U</label>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                        <input type="radio" class="btn-check" id="cincinnaty" name="cincinnaty" autocomplete="off">
                        <label class="btn btn-light" for="cincinnaty">Cincinnaty</label>
                        <input type="radio" class="btn-check" id="forza_sensibilita" name="forza_sensibilita" value="False" autocomplete="off">
                        <label class="btn btn-light" for="forza_sensibilita">Forza e sensibilità</label>
                    </div>
                </div>
                <!-- Elemento nascosto -->
                <div class="collapse" id="cincinnaty_scheda">
                    <div class="container text-center bg-light border mb-2 w-100">
                        <h4 class="mt-2">Cincinnaty</h4>
                        <h6 class="mt-2">Mimica facciale:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="mimica_n" name="mimica_c" value="Normale" autocomplete="off">
                            <label class="btn btn-light" for="mimica_n">Normale</label>
                            <input type="radio" class="btn-check" id="mimica_ad" name="mimica_c" value="Anor.dx" autocomplete="off">
                            <label class="btn btn-light" for="mimica_ad">Anor. dx</label>
                            <input type="radio" class="btn-check" id="mimica_as" name="mimica_c" value="Anor.sx" autocomplete="off">
                            <label class="btn btn-light" for="mimica_as">Anor. sx</label>
                            <input type="radio" class="btn-check" id="mimica_ads" name="mimica_c" value="Anor.dx/sx" autocomplete="off">
                            <label class="btn btn-light" for="mimica_ads">Anor. dx e sx</label>
                        </div>
                        <h6 class="mt-2">Spostamento delle braccia:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="braccia_n" name="braccia_c" value="Normale" autocomplete="off">
                            <label class="btn btn-light" for="braccia_n">Normale</label>
                            <input type="radio" class="btn-check" id="braccia_ad" name="braccia_c" value="Anor.dx" autocomplete="off">
                            <label class="btn btn-light" for="braccia_ad">Anor. dx</label>
                            <input type="radio" class="btn-check" id="braccia_as" name="braccia_c" value="Anor.sx" autocomplete="off">
                            <label class="btn btn-light" for="braccia_as">Anor. sx</label>
                            <input type="radio" class="btn-check" id="braccia_ads" name="braccia_c" value="Anor.dx/sx" autocomplete="off">
                            <label class="btn btn-light" for="braccia_ads">Anor. dx e sx</label>
                        </div>
                        <h6 class="mt-2">Linguaggio:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="linguaggio_n" name="linguaggio_c" value="True" autocomplete="off">
                            <label class="btn btn-light" for="linguaggio_n">Normale</label>
                            <input type="radio" class="btn-check" id="linguaggio_a" name="linguaggio_c" value="False" autocomplete="off">
                            <label class="btn btn-light" for="linguaggio_a">Anormale</label>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="forza_sensibilita_scheda">
                    <div class="container text-center bg-light border mb-2 w-100">
                        <h4 class="mt-2">Forza e sensibilità</h4>
                        <h6 class="mt-2">Forza arti superiori:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="forza_sup_n" name="forza_sup" value="Normale" autocomplete="off">
                            <label class="btn btn-light" for="forza_sup_n">Normale</label>
                            <input type="radio" class="btn-check" id="forza_sup_ad" name="forza_sup" value="Anor.dx" autocomplete="off">
                            <label class="btn btn-light" for="forza_sup_ad">Anor. dx</label>
                            <input type="radio" class="btn-check" id="forza_sup_as" name="forza_sup" value="Anor.sx" autocomplete="off">
                            <label class="btn btn-light" for="forza_sup_as">Anor. sx</label>
                            <input type="radio" class="btn-check" id="forza_sup_ads" name="forza_sup" value="Anor.dx/sx" autocomplete="off">
                            <label class="btn btn-light" for="forza_sup_ads">Anor. dx e sx</label>
                        </div>
                        <h6 class="mt-2">Sensibilità arti superiori:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="forza_inf_n" name="forza_inf" value="Normale" autocomplete="off">
                            <label class="btn btn-light" for="forza_inf_n">Normale</label>
                            <input type="radio" class="btn-check" id="forza_inf_ad" name="forza_inf" value="Anor.dx" autocomplete="off">
                            <label class="btn btn-light" for="forza_inf_ad">Anor. dx</label>
                            <input type="radio" class="btn-check" id="forza_inf_as" name="forza_inf" value="Anor.sx" autocomplete="off">
                            <label class="btn btn-light" for="forza_inf_as">Anor. sx</label>
                            <input type="radio" class="btn-check" id="forza_inf_ads" name="forza_inf" value="Anor.dx/sx" autocomplete="off">
                            <label class="btn btn-light" for="forza_inf_ads">Anor. dx e sx</label>
                        </div>
                        <h6 class="mt-2">Forza arti inferiori:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="sens_sup_n" name="sens_sup" value="Normale" autocomplete="off">
                            <label class="btn btn-light" for="sens_sup_n">Normale</label>
                            <input type="radio" class="btn-check" id="sens_sup_ad" name="sens_sup" value="Anor.dx" autocomplete="off">
                            <label class="btn btn-light" for="sens_sup_ad">Anor. dx</label>
                            <input type="radio" class="btn-check" id="sens_sup_as" name="sens_sup" value="Anor.sx" autocomplete="off">
                            <label class="btn btn-light" for="sens_sup_as">Anor. sx</label>
                            <input type="radio" class="btn-check" id="sens_sup_ads" name="sens_sup" value="Anor.dx/sx" autocomplete="off">
                            <label class="btn btn-light" for="sens_sup_ads">Anor. dx e sx</label>
                        </div>
                        <h6 class="mt-2">Sensibilità arti inferiori:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="sens_inf_n" name="sens_inf" value="Normale" autocomplete="off">
                            <label class="btn btn-light" for="sens_inf_n">Normale</label>
                            <input type="radio" class="btn-check" id="sens_inf_ad" name="sens_inf" value="Anor.dx" autocomplete="off">
                            <label class="btn btn-light" for="sens_inf_ad">Anor. dx</label>
                            <input type="radio" class="btn-check" id="sens_inf_as" name="sens_inf" value="Anor.sx" autocomplete="off">
                            <label class="btn btn-light" for="sens_inf_as">Anor. sx</label>
                            <input type="radio" class="btn-check" id="sens_inf_ads" name="sens_inf" value="Anor.dx/sx" autocomplete="off">
                            <label class="btn btn-light" for="sens_inf_ads">Anor. dx e sx</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Orientato nel tempo?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="tempo_si" name="tempo" value="True" autocomplete="off">
                            <label class="btn btn-light" for="tempo_si">SI</label>
                            <input type="radio" class="btn-check" id="tempo_no" name="tempo" value="False" autocomplete="off">
                            <label class="btn btn-light" for="tempo_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 col-md-9 col-lg-10 d-flex align-items-end">
                        <h6>Orientato nello spazio?</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="spazio_si" name="spazio" value="True" autocomplete="off">
                            <label class="btn btn-light" for="spazio_si">SI</label>
                            <input type="radio" class="btn-check" id="spazio_no" name="spazio" value="False" autocomplete="off">
                            <label class="btn btn-light" for="spazio_no">NO</label>
                        </div>
                    </div>
                </div>

                <h1 id="E" class="text-center mt-4 border-bottom border-top">E - Eventually</h1>
                <select id="mezzi" class="selectpicker w-100 mb-2" name="posizione" title="Posizione all'arrivo">
                    <option value="In piedi">In piedi</option>
                    <option value="Seduto">Seduto</option>
                    <option value="Supino">Supino</option>
                    <option value="Prono">Prono</option>
                    <option value="Incastrato">Incastrato</option>
                    <option value="Sul fianco sx">Sul fianco sx</option>
                    <option value="Sul fianco dx">Sul fianco dx</option>
                </select>
                <button type="button" class="btn btn-primary btn-lg w-100 mb-2" data-mdb-toggle="modal" data-mdb-target="#testapiedi">
                    Esame testa-piedi
                </button>
                <div class="container border rounded mb-2">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="allergie" name="allergie" rows="2"></textarea>
                        <label class="form-label" for="allergie">Allergie riferite</label>
                    </div>
                </div>
                <div class="container border rounded mb-2">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="patologie" name="patologie" rows="2"></textarea>
                        <label class="form-label" for="patologie">Patologie riferite</label>
                    </div>
                </div>
                <div class="container border rounded mb-2">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="farmaci" name="farmaci" rows="2"></textarea>
                        <label class="form-label" for="farmaci">Riferita assunzione di farmaci</label>
                    </div>
                </div>
                <div class="container border rounded mb-2">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="pasto" name="pasto" rows="2"></textarea>
                        <label class="form-label" for="pasto">Ultimo pasto riferito</label>
                    </div>
                </div>
                <div class="row p-1 mb-2">
                    <div class="col-5 col-md-7 col-lg-8 d-flex justify-content-start align-items-end">
                        <h6>Glicemia riferita:</h6>
                    </div>
                    <div class="col-2 d-flex justify-content-end align-items-end">
                        <h6>mg/dl</h6>
                    </div>
                    <div class="col-5 col-md-3 col-lg-2 d-flex flex-fill">
                        <input type="number" class="form-control" id="glicemia" name="glicemia">
                    </div>
                </div>

                <h1 id="note_menu" class="text-center mt-4 border-bottom border-top">Note</h1>
                <div class="container border rounded">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="note" name="note" rows="4"></textarea>
                        <label class="form-label" for="note">Note del soccorritore</label>
                    </div>
                </div>

                <h1 id="esito_menu" class="text-center mt-4 border-bottom border-top">Esito</h1>
                <select id="mezzi" class="selectpicker w-100 mb-4" multiple data-live-search="true"  name="esito" title="Seleziona esito missione">
                    <option value="1">Trasporto in ospedale</option>
                    <option value="2">Rendez vous</option>
                    <option value="3">Rifiuto trasporto</option>
                    <option value="4">Intervento con ALS</option>
                    <option value="5">Missione annullata</option>
                </select>

              </div>
                
            </div>
        

        </div>
    
    </div>

    <div class="container p-5 mt-auto mb-5 text-center bg-white">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-2">
            </div>
            <div class="col-6">
                <button type="button" class="btn p-3 btn-primary btn-lg" data-mdb-toggle="modal" data-mdb-target="#nuovomezzo">
                    Stati
                </button>
                <button type="submit" id="invio_post" class="btn p-3 btn-primary btn-lg">Invia Dati</button>
            </div>
        </div>
    </div>
</form>

</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var token = '{{ csrf_token }}';
    
    
        $('#invio_post').click(function (e) {
            e.preventDefault();
            formData = $('#compilazione_scheda').serialize();
            
            
              $.ajax({
                  headers: {
                      "X-CSRFToken": token,
                  },
                  url: '{% url "invia_scheda" %}',
                  dataType: 'json', 
                  type: 'POST',
                  data: formData,
                  success: function (result) {
                      if(result['status']=='error'){
                            $('#errors').empty();
                            errors = result['errors']
                            for(const item in errors)
                            {
                                $('#errors').removeAttr('hidden');
                                $("#errors").prepend('<p>'+errors[item]+'</p>');
                            }
                    }
                    else{
                        window.location = '{% url "operativo_rientro" %}'
                    }
                  },
    
              });
            
    
    
    
      });
    
});
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/mattoni.js' %}"></script>
{% endblock %}