{% extends 'base.html' %}
{% load static %}

{% block title %}Scheda Intervento{% endblock %}

{% block content %}

<div class="d-flex flex-column" style="height: 100vh">

    <div class="container text-center bg-light mt-4">
        <div class="row m-4">
            <div class="col-4">
                <p class="text-uppercase mb-2"><strong>ID MISSIONE</strong></p>
            </div>
            <div class="col-4">
                <p class="text-uppercase mb-2"><strong>K C01 R</strong></p>
            </div>
            <div class="col-4">
                <a href="{% url 'home_sc' %}" role="button" class="btn p-3 btn-primary btn-lg ">
                    MODIFICA 
                </a>
            </div>
        </div>
        <div class="row m-4 mb-0">
            <div class="col-12">
                <p class="text-muted mb-4">Luogo di intervento</p>
            </div>
        </div>

    </div>

<form id="compilazione_scheda" method="post">
    {% csrf_token %}
    <div class="container mt-1 mb-auto p-0 bg-white">
       
        <div class="row">
            <div class="col-sm-3">
                <nav class="nav nav-pills flex-column fixed-left nav-fill" style="height: 70vh">
                    <a class="nav-link d-flex align-items-center justify-content-center active" href="#scenario">Scenario</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#A">A</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#B">B</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#C">C</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#D">D</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#E">E</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#note">Note</a>
                    <a class="nav-link d-flex align-items-center justify-content-center" href="#esito">Esito</a>
                </nav>
            </div>
          
            <div class="col-sm-9">
                
              <div data-spy="scroll" class="scrollspy-example z-depth-1 mt-4" data-target="#navbar-example3"
              data-offset="0" style="height: 70vh; overflow: auto;">
                <h1 id="scenario" class="text-center border-bottom border-top">Scenario all'arrivo</h1>
                <h6>Dinamica riferita:</h6>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="scenario" value="Soccorso a persona" checked>
                    <label class="custom-control-label" for="defaultGroupExample1" >Soccorso a persona</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="scenario" value="Trauma">
                    <label class="custom-control-label" for="defaultGroupExample2">Trauma</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="scenario"  value="Trauma maggiore" data-toggle="modal" data-target="#centrale">
                    <label class="custom-control-label" for="defaultGroupExample3">Trauma maggiore</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="scenario" value="Non definita">
                    <label class="custom-control-label" for="defaultGroupExample4">Non definita</label>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="centrale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header d-flex justify-content-end">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <h5 class="modal-title" id="exampleModalLabel">Avverto la centrale?</h5>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">NO</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">SI</button>
                            </div>
                        </div>
                    </div>
                </div>


                <h1 id="A" class="text-center mt-4 border-bottom border-top">A - Airway</h1>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Cosciente?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="cosciente_si" name="cosciente" value="True" autocomplete="off">
                            <label class="btn btn-light" for="cosciente_si">SI</label>
                            <input type="radio" class="btn-check" id="cosciente_no" name="cosciente" value="False" autocomplete="off">
                            <label class="btn btn-light" for="cosciente_no">NO</label>
                        </div>
                    </div>
                </div>
                <div class="row p-1 d-flex align-items-end">
                    <div class="col-7">
                        <h6>Vie aeree pervie?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <input type="radio" class="btn-check" id="pervieta_si" name="pervieta" value="True" autocomplete="off">
                            <label class="btn btn-light" for="pervieta_si">SI</label>
                            <input type="radio" class="btn-check" id="pervieta_no" name="pervieta" value="False" autocomplete="off" data-toggle="collapse" data-target="#ostruzione" aria-expanded="false" aria-controls="collapseExample">
                            <label class="btn btn-light" for="pervieta_no">NO</label>
                        </div>
                    </div>
                </div>
                <!-- Elemento nascosto -->
                <div class="collapse" id="ostruzione">
                    <div class="row mt-2 m-0 p-0">
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Ostruzione parziale</button>
                            <button type="button" class="btn btn-light">Ostruzione totale</button>
                        </div>
                    </div>
                </div>

                <h1 id="B" class="text-center mt-4 border-bottom border-top">B - Breathing</h1>
                <div class="row p-1 mb-2">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Respira?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">SI</button>
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>
                <div class="md-form input-group mt-0 mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">Frequenza respiratoria:</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="sat">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">atti/min</span>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Respirazione dispneica?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">SI</button>
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Respiro rumoroso?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">SI</button>
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <select id="mezzi" class="selectpicker w-100 mb-2" title="Palpazione torace:">
                        <option value="Normale">Normale</option>
                        <option value="Anormale a destra">Anormale a destra</option>
                        <option value="Anormale a sinistra">Anormale a sinistra</option>
                        <option value="Anormale da entrabi i lati">Anormale da entrambi i lati</option>
                    </select>
                </div>
                <div class="md-form input-group mt-0 mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">Saturazione in aria:</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="sat">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">%</span>
                    </div>
                </div>
                <div class="container text-center bg-light border mb-2 w-100">
                    <h6 class="mt-2">Somministrazione ossigeno:</h6>
                    <div class="md-form input-group mt-0 mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="sat">Saturazione con ossigeno:</span>
                        </div>
                        <input type="text" class="form-control" id="material-url" aria-describedby="sat">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="sat">%</span>
                        </div>
                    </div>
                    <div class="md-form input-group mt-0 mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="sat">Ossigeno:</span>
                        </div>
                        <input type="text" class="form-control" id="material-url" aria-describedby="sat">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon" id="sat">L/min</span>
                        </div>
                    </div>
                </div>
                

                <h1 id="C" class="text-center mt-4 border-bottom border-top">C - Circulation</h1>
                <div class="md-form input-group mt-0 mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">Pressione arteriosa:</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="sat">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">/</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="sat">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">mmHg</span>
                    </div>
                </div>
                <div class="md-form input-group mt-0 mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">Frequenza circolatoria:</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="sat">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">batt/min</span>
                    </div>
                </div>
                <div class="md-form input-group mt-0 mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">Temperatura corporea:</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="sat">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="sat">°C</span>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Emorragie?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">SI</button>
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Polso radiale?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">SI</button>
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Regolare?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">SI</button>
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <select id="mezzi" class="selectpicker w-100 mb-2" title="Colorito cutaneo:">
                        <option value="Normale">Normale</option>
                        <option value="Cianotico">Cianotico</option>
                        <option value="Rossastro">Rossastro</option>
                        <option value="Pallido">Pallido</option>
                    </select>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Sudato?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">SI</button>
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Dolore toracico?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#torace" aria-expanded="false" aria-controls="collapseExample">SI</button>
                            <!-- aggiusta si e no -->
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>
                <!-- Elemento nascosto -->
                <div class="collapse" id="torace">
                    <div class="container text-center bg-light border mb-2 w-100">
                        <div class="row p-1 ">
                            <div class="col-7 d-flex align-items-end">
                                <h6>Data insorgenza sintomi:</h6>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <div class="md-form md-outline input-with-post-icon datepicker">
                                    <input placeholder="Seleziona giorno" type="date" id="data" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row p-1 ">
                            <div class="col-7 d-flex align-items-end">
                                <h6>Ora insorgenza sintomi:</h6>
                            </div>
                            <div class="col-5 d-flex justify-content-end">
                                <div class="md-form md-outline">
                                    <input type="time" id="ora" class="form-control" placeholder="Seleziona ora">
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0">
                            <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-light">Dolore a spilli</button>
                                <button type="button" class="btn btn-light">Dolore oppressivo</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 id="D" class="text-center mt-4 border-bottom border-top">D - Disability</h1>
                <div class="row">
                    <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light">A</button>
                        <button type="button" class="btn btn-light">V</button>
                        <button type="button" class="btn btn-light">P</button>
                        <button type="button" class="btn btn-light">U</button>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#cincinnaty" aria-expanded="false" aria-controls="collapseExample">Cincinnaty</button>
                        <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#forzasensibilita" aria-expanded="false" aria-controls="collapseExample">Forza e sensibilità</button>
                    </div>
                </div>
                <!-- Elemento nascosto -->
                <div class="collapse" id="cincinnaty">
                    <div class="container text-center bg-light border mb-2 w-100">
                        <h4 class="mt-2">Cincinnaty</h4>
                        <h6 class="mt-2">Mimica facciale:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Normale</button>
                            <button type="button" class="btn btn-light">Anor. dx</button>
                            <button type="button" class="btn btn-light">Anor. sx</button>
                            <button type="button" class="btn btn-light">Anor. dx e sx</button>
                        </div>
                        <h6 class="mt-2">Spostamento delle braccia:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Normale</button>
                            <button type="button" class="btn btn-light">Anor. dx</button>
                            <button type="button" class="btn btn-light">Anor. sx</button>
                            <button type="button" class="btn btn-light">Anor. dx e sx</button>
                        </div>
                        <h6 class="mt-2">Linguaggio:</h6>
                        <div class="btn-group d-flex flex-fill mb-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Normale</button>
                            <button type="button" class="btn btn-light">Anormale</button>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="forzasensibilita">
                    <div class="container text-center bg-light border mb-2 w-100">
                        <h4 class="mt-2">Forza e sensibilità</h4>
                        <h6 class="mt-2">Forza arti superiori:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Normale</button>
                            <button type="button" class="btn btn-light">Anor. dx</button>
                            <button type="button" class="btn btn-light">Anor. sx</button>
                            <button type="button" class="btn btn-light">Anor. dx e sx</button>
                        </div>
                        <h6 class="mt-2">Sensibilità arti superiori:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Normale</button>
                            <button type="button" class="btn btn-light">Anor. dx</button>
                            <button type="button" class="btn btn-light">Anor. sx</button>
                            <button type="button" class="btn btn-light">Anor. dx e sx</button>
                        </div>
                        <h6 class="mt-2">Forza arti inferiori:</h6>
                        <div class="btn-group d-flex flex-fill" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Normale</button>
                            <button type="button" class="btn btn-light">Anor. dx</button>
                            <button type="button" class="btn btn-light">Anor. sx</button>
                            <button type="button" class="btn btn-light">Anor. dx e sx</button>
                        </div>
                        <h6 class="mt-2">Sensibilità arti inferiori:</h6>
                        <div class="btn-group d-flex flex-fill mb-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Normale</button>
                            <button type="button" class="btn btn-light">Anor. dx</button>
                            <button type="button" class="btn btn-light">Anor. sx</button>
                            <button type="button" class="btn btn-light">Anor. dx e sx</button>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Orientato nel tempo?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">SI</button>
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>
                <div class="row p-1 ">
                    <div class="col-7 d-flex align-items-end">
                        <h6>Orientato nello spazio?</h6>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">SI</button>
                            <button type="button" class="btn btn-light">NO</button>
                        </div>
                    </div>
                </div>

                <h1 id="E" class="text-center mt-4 border-bottom border-top">E - Eventually</h1>
                <select id="mezzi" class="selectpicker w-100 mb-2" title="Posizione all'arrivo">
                    <option value="In piedi">In piedi</option>
                    <option value="Seduto">Seduto</option>
                    <option value="Supino">Supino</option>
                    <option value="Prono">Prono</option>
                    <option value="Incastrato">Incastrato</option>
                    <option value="Sul fianco sx">Sul fianco sx</option>
                    <option value="Sul fianco dx">Sul fianco dx</option>
                </select>
                <button type="button" class="btn btn-primary btn-lg w-100 mb-2" data-mdb-toggle="modal" data-mdb-target="#testapiedi">
                    Esame testa-piedi
                </button>
                <div class="container border rounded mb-2">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="textAreaExample" rows="2"></textarea>
                        <label class="form-label" for="textAreaExample">Allergie riferite</label>
                    </div>
                </div>
                <div class="container border rounded mb-2">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="textAreaExample" rows="2"></textarea>
                        <label class="form-label" for="textAreaExample">Patologie riferite</label>
                    </div>
                </div>
                <div class="container border rounded mb-2">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="textAreaExample" rows="2"></textarea>
                        <label class="form-label" for="textAreaExample">Riferita assunzione di farmaci</label>
                    </div>
                </div>
                
                <div class="md-form input-group mt-0 mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text md-addon" id="material-addon3">Glicemia riferita</span>
                    </div>
                    <input type="text" class="form-control" id="material-url" aria-describedby="material-addon3">
                </div>

                <div class="container border rounded mb-2">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="textAreaExample" rows="2"></textarea>
                        <label class="form-label" for="textAreaExample">Ultimo pasto riferito</label>
                    </div>
                </div>

                <h1 id="note" class="text-center mt-4 border-bottom border-top">Note</h1>
                <div class="container border rounded">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                        <label class="form-label" for="textAreaExample">Note del soccorritore</label>
                    </div>
                </div>

                <h1 id="esito" class="text-center mt-4 border-bottom border-top">Esito</h1>
                <select id="mezzi" class="selectpicker w-100 mb-4" multiple data-live-search="true" title="Seleziona esito missione">
                    <option value="1">Trasporto in ospedale</option>
                    <option value="2">Rendez vous</option>
                    <option value="3">Rifiuto trasporto</option>
                    <option value="4">Intervento con ALS</option>
                    <option value="5">Missione annullata</option>
                </select>

              </div>
                
            </div>
        

        </div>
    
    </div>

    <div class="container p-5 mt-auto mb-5 text-center bg-white">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-2">
            </div>
            <div class="col-6">
                <button type="button" class="btn p-3 btn-primary btn-lg" data-mdb-toggle="modal" data-mdb-target="#nuovomezzo">
                    Stati
                </button>
                <button type="submit" id="invio_post" class="btn p-3 btn-primary btn-lg">Invia Dati</button>
            </div>
        </div>
    </div>
</form>

</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var token = '{{ csrf_token }}';
    
    
        $('#invio_post').click(function (e) {
            e.preventDefault();
            formData = $('#compilazione_scheda').serialize();
            
            
              $.ajax({
                  headers: {
                      "X-CSRFToken": token,
                  },
                  url: '{% url "invia_scheda" %}',
                  dataType: 'json', 
                  type: 'POST',
                  data: formData,
                  success: function (result) {
                      if(result['status']=='error'){
                            $('#errors').empty();
                            errors = result['errors']
                            for(const item in errors)
                            {
                                $('#errors').removeAttr('hidden');
                                $("#errors").prepend('<p>'+errors[item]+'</p>');
                            }
                    }
                    else{
                        
                    }
                  },
    
              });
            
    
    
    
      });
    
});
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}