{% extends 'base.html' %}
{% load static %}

{% block title %}Home Intervento{% endblock %}

{% block css %}
<link href="{% static 'css/operativo.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-light d-flex justify-content-start">
  <a class="navbar-brand ms-3 m-1" href="#">
    <img
      src="{% static 'img/logoHCI.png' %}"
      height="50"
      loading="lazy"
    />
  </a>
  <div class="nav-item ms-0 p-3">
      <h3 class="mb-1 mt-1"><strong>{{request.user.corporation}}</strong></h3>
  </div>
  
  <!--Dropdown primary-->
  <div class="dropdown" style="position: absolute; right: 0; top: 0;">
    <!--Trigger-->
    <button class="btn btn-primary mt-4 me-4" type="button" id="dropdownMenu1" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"><span><i
        class="fas fa-bars fa-1x"></i></span></button>
    <!--Menu-->
    <div class="dropdown-menu" style="right: 1.5em;">
      <a class="dropdown-item" href="{% url 'operativo' %}">Home</a>
      <a class="dropdown-item" href="{% url 'dati' %}">I miei dati</a>
      <a class="dropdown-item" href="{% url 'protocolli' %}">Protocolli</a>
      <a class="dropdown-item" href="{% url 'gestione_missioni' %}">Missioni</a>
      <a class="dropdown-item" href="{% url 'dati_mezzo' %}">Dati mezzo</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</nav>


  <div class="container mt-1 mb-auto p-0 w-75 d-flex justify-content-center align-items-center" style="height: 85vh">
    <div class="row w-100">
      <div class="col-12 d-flex justify-content-center">
        <img src="{% static 'img/background_HCI.png' %}" id="bg_img" class="img-fluid mx-auto" >  
      </div>
      <div class="col-12 d-flex justify-content-center">
        <h2><strong>{{request.session.mezzo.nome}}</strong> Operativa</h2>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <p>In attesa di una nuova missione</p>
          <div class="dot-typing mt-2 m-4">
            <span class="sr-only">Loading...</span>
          </div>
      </div>
    </div>
       
  </div>
  
    <div class="position-absolute bottom-0 end-0 m-4">
      <div class="container p-5">
        <button type="button" class="btn p-3 btn-primary btn-lg m-2 w-100" style="width: 200px;" data-mdb-toggle="modal" data-mdb-target="#formmissione">
          Nuova Missione 
        </button>
      </div>
    </div>
  <!-- Modal -->
<div class="modal fade" id="formmissione" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Dati Missione</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <form id="missione_creazione_form" method="post">
            {% csrf_token %}
          <p class="slogan">Inserisci i dati del paziente</p>
          <div class='text-center'>
            <ul class="alert alert-danger" id='errors' style="list-style: none;" hidden>
                
            </ul>
          </div>
          
            <!-- Nome e Cognome -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="nome_p" class="form-control" name="nome_p">
                  <label class="form-label" for="nome_p">Nome</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="cognome_p" class="form-control" name="cognome_p">
                  <label class="form-label" for="cognome_p">Cognome</label>
                </div>
              </div>
            </div>

            <!-- Indirizzo -->
            <div class="row mb-4">
              <div class="col-9">
                <div class="form-outline">
                  <input type="text" id="luogo_intervento" class="form-control" name="luogo_intervento">
                  <label class="form-label" for="luogo_intervento">Indirizzo</label>
                </div>
              </div>
              <div class="col-3">
                <div class="form-outline">
                  <input type="text" id="civico_intervento" class="form-control" name="civico_intervento">
                  <label class="form-label" for="civico_intervento">Civico</label>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-5">
                <div class="form-outline">
                  <input type="text" id="comune_intervento" class="form-control" name="comune_intervento">
                  <label class="form-label" for="comune_intervento">Comune</label>
                </div>
              </div>
              <div class="col-4">
                <select id="mezzi" class="selectpicker w-100" title="Prov." name="provincia_intervento">
                  <option value="AR">AR</option>
                  <option value="FI">FI</option>
                  <option value="GR">GR</option>
                  <option value="LI">LI</option>
                  <option value="LU">LU</option>
                  <option value="MS">MS</option>
                  <option value="PI">PI</option>
                  <option value="PT">PT</option>
                  <option value="PO">PO</option>
                  <option value="SI">SI</option>
                </select>
              </div>
              <div class="col-3">
                <div class="form-outline">
                  <input type="text" id="cap_intervento" class="form-control" name="cap_intervento">
                  <label class="form-label" for="cap_intervento">CAP</label>
                </div>
              </div>
            </div>

            <!-- Numero Telefono -->
            <div class="form-outline mb-4">
              <input type="tel" id="cellulare" class="form-control" name="cellulare">
              <label class="form-label" for="cellulare">Cellulare</label>
            </div>

            <!-- Note missione: -->
            <p class="slogan">Note missione</p>
            <div class="form-outline mb-4">
              <textarea class="form-control" id="note" rows="5" name="note"></textarea>
              <label class="form-label" for="note">Messaggio</label>
            </div>

            <!-- Note della Centrale -->
            <p class="slogan">Avvisi dalla Centrale</p>
            <div class="form-outline mb-4">
              <textarea class="form-control" id="avvisi" rows="5" name="avvisi"></textarea>
              <label class="form-label" for="avvisi">Messaggio</label>
            </div>

            <!-- Codice patologia -->
            <p class="slogan">Codice patologia ipotizzato</p>
            <div class="row mb-4">
              <div class="col-4">
                  <select id="mezzi" class="selectpicker w-100" title="Luogo" name="luogo">
                      <option value="S">S Strada</option>
                      <option value="P">P Esercizio Pubblico</option>
                      <option value="Y">Y Impianto Sportivo</option>
                      <option value="K">K Casa</option>
                      <option value="L">L Impianto Lavoro</option>
                      <option value="Q">Q Scuola</option>
                      <option value="T">T Trasporto</option>
                      <option value="Z">Z Altro Luogo</option>
                  </select>
              </div>
              <div class="col-4">
                  <select id="mezzi" class="selectpicker w-100" title="Patologia" name="patologia">
                      <option value="1">C01 Traumatica</option>
                      <option value="2">C02 Cardiocircolatoria</option>
                      <option value="3">C03 Respiratoria</option>
                      <option value="4">C04 Neurologica</option>
                      <option value="5">C05 Psichiatrica</option>
                      <option value="6">C06 Neoplastica</option>
                      <option value="7">C07 Tossicologica</option>
                      <option value="8">C08 Metabolica</option>
                      <option value="9">C09 Gastroenterologica</option>
                      <option value="10">C10 Urologica</option>
                      <option value="11">C11 Oculistica</option>
                      <option value="12">C12 Otorinolaringoiatrica</option>
                      <option value="13">C13 Dermatologica</option>
                      <option value="14">C14 Ostetrico-ginecologica</option>
                      <option value="15">C15 Infettiva</option>
                      <option value="19">C19 Altra patologia</option>
                      <option value="20">C20 Patologia non definita</option>
                  </select>
              </div>
              <div class="col-4">
                  <select id="mezzi" class="selectpicker w-100" title="Criticità" name="criticita">
                      <option value="B">Bianco</option>
                      <option value="V">Verde</option>
                      <option value="G">Giallo</option>
                      <option value="R">Rosso</option>
                  </select>
              </div>
            </div>
              
          

          </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Annulla</button>
                <input type="submit" id="invio_missione" class="btn btn-primary" value="Invia Missione">
            </div>
          </div>

        </form>
    
      </div>
</div>

{% endblock %}
{% block scripts %}
<script>
$(document).ready(function () {
      var token = '{{ csrf_token }}';
  
      $('#invio_missione').click(function (e) {
          e.preventDefault();
          formData = $('#missione_creazione_form').serialize();
              $.ajax({
                  headers: {
                      "X-CSRFToken": token,
                  },
                  url: '{% url "invia_missione" %}',
                  dataType: 'json', 
                  type: 'POST',
                  data: formData,
                  success: function (result) {
                      if(result['status']=='error'){
                          $('#errors').empty();
                          errors = result['errors']
                          for(const item in errors)
                          {
                              $('#errors').removeAttr('hidden');
                              $("#errors").prepend('<p><strong>'+errors[item]+'</strong></p>');
                          }
                  }
                  else{
                      window.location = '{% url "accetta_missione" %}'
                  }
                  },
              });
        });
});
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}

