{% extends 'base.html' %}
{% load static %}

{% block title %}Home Intervento{% endblock %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-light d-flex justify-content-start">
  <a class="navbar-brand ms-3" href="#">
    <img
      src="{% static 'img/logoHCI.png' %}"
      height="50"
      loading="lazy"
    />
  </a>
  <div class="nav-item ms-0 p-3">
      <h3><strong>{{request.user.corporation}}</strong></h3>
  </div>
</nav>

<div class="container mt-5 text-center bg-white">
    <h1 class="m-3">Missione in carico</h1>
  </div>
  <div class="container pt-2 ps-5 pe-5">
    <div class="p-5 m-0 bg-light">
      <div class="col-12 d-flex flex-column">
  
        <ul class="list-unstyled font-small m-4 ">
          <li>
            <p class="text-uppercase mb-2"><strong>Id missione</strong></p>
            <p class="text-muted mb-4">{{request.session.missione.id_missione}}</p>
          </li>
  
          <li>
            <p class="text-uppercase mb-2"><strong>Codice missione</strong></p>
            <p class="text-muted mb-4">{{request.session.missione.luogo}} C{{request.session.missione.patologia}} {{request.session.missione.criticita}}</p>
          </li>
  
          <li>
            <p class="text-uppercase mb-2"><strong>Nome Cognome</strong></p>
            {% if request.session.missione.cognome_p is None %}
            <p class="text-muted mb-4">NON DEFINITO</p>
            {% else %}
            <p class="text-muted mb-4">{{request.session.missione.cognome_p}} {{request.session.missione.nome_p}}</p>
            {% endif %}
          </li>
  
          <li>
            <p class="text-uppercase mb-2"><strong>Luogo intervento</strong></p>
            <p class="text-muted mb-4">{{request.session.missione.luogo_intervento}}, {{request.session.missione.civico_intervento}}, {{request.session.missione.cap_intervento}}, {{request.session.missione.comune_intervento}} ( {{request.session.missione.provincia_intervento}} )</p>
          </li>
          <li>
            <p class="text-uppercase mb-2"><strong>Note</strong></p>
            {% if request.session.missione.note == '' %}
              <p class="text-muted mb-4">---</p>
            {% else %}
            <p class="text-muted mb-4">{{request.session.missione.note}}</p>
            {% endif %}
          </li>
          <li>
            <p class="text-uppercase mb-2"><strong>Avvisi da centrale 118</strong></p>
            {% if request.session.missione.avvisi == '' %}
              <p class="text-muted mb-4">---</p>
            {% else %}
            <p class="text-muted mb-4">{{request.session.missione.avvisi}}</p>
            {% endif %}
          </li>
        
        </ul>
  
      </div>
      
      
    </div>
    <div class="position-absolute bottom-0 end-0 m-4">
        <div class="container p-5">
          <a type="button" class="btn p-3 btn-primary btn-lg m-2 w-100" href="{% url 'missione_protocolli' %}">Partenza per missione</a>
        </div>
      </div>
  </div>

{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}