{% extends 'base.html' %}
{% load static %}


{% block title %}Registration Successful{% endblock %}

{% block content %}

<!-- Background image -->
<div class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp'); height: 100vh;">
  <!-- Container form -->
  <div class="container-sm p-3 w-30 rounded bg-white" style="width: 550px">
    <div class="row">
      <div class="col-sm-12 text-center p-3">
        <img src="{% static 'img/covid.jpeg' %}" class="rounded" alt="Covid" style="height: 30vh">    
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center p-3">
        <h1>Mattoni 2.0</h1>    
        <h4 class="text-gray">Registrazione avvenuta con successo!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center p-1">
        <a href="{% url 'home' %}" class="btn btn-info w-50" role="button">Ritorna alla Home</a>
      </div>
    </div>
    
  </div>
</div>


{% endblock %}
