{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Responsive to mobile device -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% block title %}Game of Life{% endblock %}</title>

  <!-- Google Fonts Roboto -->
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
  >
  
  <!-- Bootstrap -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design for Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">


  {% block css %}
  {% endblock %}
  
</head>

<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  {% block footer %}
  {% endblock %}
  
  <!-- jQuery -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- Popper.js -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- Material Design for Bootstrap -->
  <script src="{% static 'js/mdb.min.js' %}"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
  
  {% block scripts %}
  {% endblock %}
</body>


</html>
