{% extends 'base_gol.html' %}
{% load static %}

{% block title %}Game of Life{% endblock %}

{% block css %}

<link href="{% static 'css/theme_2.css' %}" rel="stylesheet">
<link href="{% static 'css/gol.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
<div class="container bg-light p-0">
    <h1 class="display-2 bg-info p-3"><strong>Game of Life</strong></h1>
    <div class="row">
        <div class="col-7 m-3">
            <div id="canvas_div">
                <canvas id="gol"></canvas>
                <canvas id="gol_cells"></canvas>
            </div>
        </div>
        <div class="col-4 m-2 mt-4" id="controls">
            <div class="row mt-2 w-75 mx-auto">
                <button type="button" class="btn btn-primary" id="start">Start</button>
            </div>
            <div class="row mt-2 w-75 mx-auto">
               <button type="button" class="btn btn-primary" id="clear">Clear</button>
            </div>
            <div class="row mt-2 w-75 mx-auto">
                <button type="button" class="btn btn-primary" id="random">Random</button>
            </div>

            <div class="slidecontainer mb-5 mt-5 text-center">
                
                <p>Speed of simulation</p>

                <label>Max</label>
                <input type="range" min="1" max="301" value="41" step="20" class="slider" id="fps">
                <label>Min</label>
              
            </div>

            <p>
                This is an implementation of the Game of Life.
                The Game of Life was invented in 1970 by the British mathematician John Horton Conway. Conway
                developed an interest in a problem which was made evident in the 1940’s by mathematician John von
                Neumann, who aimed to find a hypothetical machine that had the ability to create copies of itself and
                was successful when he discovered a mathematical model for such a machine with very complicated
                rules on a rectangular grid. Thus, the Game of Life was Conway’s way of simplifying von Neumann’s
                ideas. Check more information <a href="https://conwaylife.com/wiki/Main_Page">here</a>
            </p>
            
            
        </div>
    </div>
    
</div>
{% endblock %}



{% block footer %}

{% endblock %}



{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/gol.js' %}"></script>
{% endblock %}

