#stack_f {
    position: relative;
    height: calc(var(--mdb-gutter-x)*25);
}

#stack_f > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#stack_f > img {
    position: absolute;
    top: 0;
    left: 0;
}

#stack_b {
    position: relative;
    height: calc(var(--mdb-gutter-x)*25);
}

#stack_b > canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#stack_b > img {
    position: absolute;
    top: 0;
    left: 0;
}

.nav-pills .nav-link {
    background: var(--bs-secondary);
}

.btn-check:checked+.btn-light {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    height: auto;
    padding: 0px;
    padding: 0px 0px 0px 10px;
    width: 100%;
    transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
    border-radius: 5px 0 0 0;
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    height: auto;
    padding: 0px 0px 0px 10px;
    width: 100%;
    transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
    border-radius: 5px 0 0 0;
}
.form-floating > .form-control:-webkit-autofill ~ label {
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    height: auto;
    padding: 0px;
    padding: 0px 0px 0px 10px;
    width: 100%;
    transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
    border-radius: 5px 0 0 0;
}