{% extends 'gol/base_gol.html' %}
{% load static %}

{% block title %}Game of Life{% endblock %}

{% block css %}
<link href="{% static 'css/gol/gol.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
<div class="container bg-light p-0">
    <h1 class="display-2 bg-info m-0">Game of Life</h1>
    <div class="row">
        <div class="col-7 m-3">
            <div id="canvas_div">
                <canvas id="gol"></canvas>
                <canvas id="gol_cells"></canvas>
            </div>
        </div>
        <div class="col-3 m-2" id="controls">
            <div class="row mt-2">
                <button type="button" class="btn btn-primary" id="start">Start</button>
            </div>
            <div class="row mt-2">
               <button type="button" class="btn btn-primary" id="clear">Clear</button>
            </div>
            <div class="row mt-2">
                <button type="button" class="btn btn-primary" id="random">Random</button>
            </div>


            <select id="configurations" class="selectpicker w-100 mt-2" title="" name="configurations">
                <option value="initial">Initial</option>
                <option value="V">Verde</option>
                <option value="G">Giallo</option>
                <option value="R">Rosso</option>
            </select>

            <div class="slidecontainer mb-5 mt-5 text-center">
                
                <p>Speed of simulation</p>

                <label>Max</label>
                <input type="range" min="1" max="301" value="41" step="20" class="slider" id="fps">
                <label>Min</label>
              
            </div>
            
            
        </div>
    </div>
    
</div>
{% endblock %}



{% block footer %}

{% endblock %}



{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="{% static 'js/gol/gol.js' %}"></script>
{% endblock %}

